---
layout: main
---
<section class="page-section pb-5" id="product">
    <div class="container px-4 px-lg-5 pt-5">
        <div class="row justify-content-center">
            <div class="col">
                <h1>О компании</h1>
                <hr class="divider" />
            </div>
        </div>
        <div class="row justify-content-center">
            <ul>
            {% for item in site.data.about %}
                <li>{{item.desc}}</li>  
            {% endfor %}
            </ul>
        </div>
    </div>
</section>    

<!--products short-->
<section class="page-section py-2" id="products-brief">
    <div class="container px-4">
        <div class="row justify-content-center">
            {% for product in site.data.products %}
            <div class="col-md-5 col-sm-12 mx-2 d-flex align-items-stretch">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="h3"><a href="{{product.url}}">{{product.sname}}</a></div>
                    </div>
                    <div class="card-body"><div class="p">{{product.desc}}</div></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>