<section class="page-section" id="product">
    <div class="container px-4 px-lg-5 py-5">
        <div class="row justify-content-center">
            <div class="col">
                <h1>{{page.origin}} <span class="pro-icon"></span>PRO: лицензионное соглашение с конечным пользователем</h1>
                <hr class="divider" />
            </div>
        </div>
        <div class="row">
            <p>
                ВНИМАТЕЛЬНО ОЗНАКОМЬТЕСЬ С УСЛОВИЯМИ НАСТОЯЩЕГО ЛИЦЕНЗИОННОГО СОГЛАШЕНИЯ, ПРЕЖДЕ ЧЕМ ВЫ НАЧНЕТЕ ЗАГРУЗКУ И / ИЛИ УСТАНОВКУ И / ИЛИ КОПИРОВАНИЕ И / ИЛИ ИНСТАЛЛЯЦИЮ И / ИЛИ ЛЮБОЕ ИСПОЛЬЗОВАНИЕ ЛЮБОГО ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ, УКАЗАННОГО В НАИМЕНОВАНИИ ЭТОГО ЛИЦЕНЗИОННОГО СОГЛАШЕНИЯ (ДАЛЕЕ ПО ОТДЕЛЬНОСТИ – ПРОДУКТ / Продукт), НА ВАШ КОМПЬЮТЕР / СЕРВЕР.
            </p>
            <p>
                Настоящее лицензионное соглашение (далее – Соглашение) о предоставлении права использования любого из перечисленных выше Продуктов заключается в упрощенном порядке в соответствии с п.5 ст.1286 Гражданского кодекса РФ между Обществом с ограниченной ответственностью «ТриА Системз» (ООО «ТриА Системз», 3A Systems, LLC), ОГРН 1137746725951, являющимся Правообладателем Продуктов, и Вами – представителем юридического лица, выступающего в качестве Конечного пользователя Продукта. Продолжая использование Продукта, Вы подтверждаете, что имеете необходимые полномочия представлять Конечного пользователя при использовании Продукта и заключении настоящего Соглашения.
            </p>
            <p>
                Начиная использование Продукта, Вы как Конечный пользователь, соглашаетесь со всеми условиями Соглашения в полном объеме и безоговорочно и считаетесь принявшим право использования Продукта на условиях простой (неисключительной) лицензии. Если Вы не согласны с условиями Соглашения, Вы не вправе загружать, устанавливать, копировать, инсталлировать, использовать любым образом Продукт.
            </p>
            <p>
                Соглашение не заключается с физическими лицами и лицами, осуществляющими свою деятельность как самозанятые и применяющими в своей деятельности специальный налоговый режим «Налог на профессиональный доход».
            </p>
            <p>
                В случае если Вы получили Продукт или доступ к Продукту от уполномоченного представителя Правообладателя (партнера, дистрибьютора и т.п.) на основании отдельного договора или непосредственно от Правообладателя по отдельному договору (далее совместно – Договоры), настоящее Соглашение применяется в части, не противоречащей указанным Договорам.
            </p>
            <p>
                Продукт, версия которого предназначена для использования с определенным прикладным программным обеспечением, указанным Правообладателем в наименовании версии Продукта или в соответствующем лицензионном соглашении с Конечным пользователем, должен использоваться только с данным прикладным программным обеспечением. Использование такой версии Продукта с произвольным прикладным программным обеспечением не разрешается.
            </p>
            <p>
                Продукт, версия которого предназначена для хранения и обработки данных определенной информационной системы, указанной Правообладателем в наименовании версии Продукта или в соответствующем лицензионном соглашении с Конечным пользователем, должен использоваться только для баз данных указанной информационной системы. Использование такой версии Продукта с другими информационными системами не разрешается.
            </p>
            <p>
                Соглашение не применяется для случаев использования Продукта, встроенного в программное обеспечение третьих лиц.
            </p>
            <h2>1. ИСКЛЮЧИТЕЛЬНОЕ ПРАВО</h2>
            <div class="row">
                <p>
                1.1. Исключительное право на Продукт и Документацию принадлежит Правообладателю, с учетом положений п.1.2 Соглашения.
                </p>
                <p>
                    1.2. Продукт разработан Правообладателем на основе свободно распространяемого программного обеспечения - <a href="https://github.com/OpenIdentityPlatform/{{page.origin}}" target="_self">{{page.origin}} Community Edition</a>, которое распространяется открытым сообществом <a href="https://github.com/OpenIdentityPlatform" target="_self">Open Identity Platform</a> по лицензии <a href="https://github.com/OpenIdentityPlatform/{{page.origin}}/blob/master/LICENSE.md" target="_self">COMMON DEVELOPMENT AND DISTRIBUTION LICENSE (CDDL)</a>, условия которой приведены на сайте Правообладателя по адресу: <a href="https://github.com/OpenIdentityPlatform/{{page.origin}}/blob/master/LICENSE.md" target="_self">https://github.com/OpenIdentityPlatform/{{page.origin}}/blob/master/LICENSE.md</a>, с дополнениями 3A Systems, LLC:
                </p>
                <p>
                - Portions Copyright (c) 2008-2024, 3A Systems, LLC.
                </p>
                <p>
                1.3. Наименование "{{page.origin}} <span class="pro-icon"></span>PRO" и логотип:
                </p>
                    <img src="/pro-logos/{{page.origin}}.png" alt="логотип {{page.origin}} PRO" style="max-width:400px;">
                <p>
                    ,являются зарегистрированными товарными знаками ООО «ТриА Системз» и защищены законодательством Российской Федерации об авторских правах.
                </p>
            </div>
            <h2>2. ПРЕДМЕТ СОГЛАШЕНИЯ</h2>
            <div class="row">
                <p>
                2.1. Правообладатель предоставляет Конечному пользователю на условиях простой (неисключительной) лицензии право использования ограниченного числа копий (экземпляров) Продукта и пользовательской документации на Продукт (далее – Документация), в пределах и способами, определенными настоящим Соглашением, и при условии соблюдения Конечным пользователем всех технических требований, описанных в Документации на соответствующий Продукт.
                </p>
                <p>
                Право использования Продукта, прямо не указанное в Соглашении или в Договорах, не считается предоставленным Конечному пользователю.
                </p>
                <p>
                2.2. Способы использования Продукта: право на воспроизведение, включающее установку, инсталляцию и запуск Продукта, запись и хранение в памяти ЭВМ в соответствии с Документацией в целях использования Продукта по его функциональному назначению, включая право изготовления одной резервной копии и право внесения изменений в Продукт для обеспечения функционирования Продукта на оборудовании Конечного пользователя в соответствии и в пределах, предусмотренных Документацией (адаптация).
                </p>
                <p>
                Конечный пользователь вправе использовать Продукт с иным программным обеспечением Конечного пользователя, без права встраивания Продукта в программное обеспечение Конечного пользователя и/или третьих лиц.
                </p>
                <p>
                2.3. Конечный пользователь не вправе использовать Продукт способами и в объеме прав, не предусмотренными Соглашением, в том числе, но не ограничиваясь:
                </p>
                <p>
                (а) вносить какие-либо изменения в исходный и объектный код Продукта за исключением тех, которые вносятся средствами, включенными в комплект Продукта и описанными в Документации;
                </p>
                <p>
                (б) осуществлять модификацию, обратный инжиниринг, дизассемблирование и/или декомпилирование Продукта и его компонентов, за исключением случаев, предусмотренных применимым законодательством;
                </p>
                <p>
                (в) использовать Продукт от имени третьей стороны, а также в интересах третьих лиц;
                </p>
                <p>
                (г) совершать относительно Продукта действия, нарушающие нормы российского и международного законодательства об авторском праве и использовании программных средств;
                </p>
                <p>
                (д) передавать право использования Продукта и Документации, а также коды активации и доступа (или их копии) третьим лицам на возмездной или безвозмездной основе, в любой форме, в том числе, но не ограничиваясь, путем продажи, уступки, проката, сдачи внаем, предоставления взаймы или иными другими способами;
                </p>
                <p>
                (е) предоставлять третьим лицам доступ к Продукту и Документации для использования в деловых целях таких третьих лиц;
                </p>
                <p>
                (ж) переуступать Соглашение и обязательства из него третьим лицам;
                </p>
                <p>
                (з) удалять, делать труднодоступными или малозаметными, а также изменять иным образом  уведомления об авторских правах.
                </p>
                <p>
                2.4. Территория использования Продукта: весь мир.
                </p>
                <p>
                2.5. Срок действия лицензии - право использования предоставляется на срок действия исключительного права на Продукт, если иное не предусмотрено отдельными договорами на основании которых Вы получили право использования Продукта или доступ к нему.
                </p>
                <p>
                    2.6. Обновления к Продукту представляются в соответствии с условиями гарантийной технической поддержки Продукта, приведенными на сайте Правообладателя <a href="/{{page.origin}}">https://www.3a-systems.ru/{{page.origin}}</a>.
                </p>
                <p>
                    2.7. Условия и порядок выплаты вознаграждения за предоставление права использования Продукта определяются в Договорах.
                </p>
            </div>
            <h2>3. ОГРАНИЧЕННЫЕ ГАРАНТИИ ПРАВООБЛАДАТЕЛЯ</h2>
            <div class="row">
                <p>
                3.1. Правообладатель заверяет, что имеет право предоставлять Конечному пользователю право использования Продукта и Документации.
                </p>
                <p>
                3.2. Правообладатель подтверждает, что предоставление права использования Продукта не нарушает на момент его предоставления интеллектуальные и иные права третьих лиц, а также что Правообладателю ничего не известно о правах третьих лиц, которые могли бы быть нарушены предоставлением права использования Продукта.
                </p>
                <p>
                3.3. Правообладатель заверяет, что релиз Продукта, право использования которого предоставлено Конечному пользователю на основании Соглашения, по существу, соответствует Документации и не содержит вредоносных программ (вирусов) на момент предоставления Продукта.
                </p>
                <p>
                3.4. Правообладатель не несет никакой ответственности за любые убытки, включая упущенную выгоду, возникшие в результате использования Продукта и/или Документации Конечным пользователем, даже если Правообладатель был извещен о возможности возникновения таких убытков.
                </p>
                <p>
                3.5. Правообладатель отказывается предоставлять любые явно выраженные или подразумеваемые гарантии, включая, но не ограничиваясь: подразумеваемые гарантии товарной пригодности и/или пригодности для определенной цели, или возникающие в результате обычной практики деловых операций или обычаев делового оборота. Продукт предоставляется на основе принципа «как есть» и Правообладатель не обязан предоставлять сопровождение, поддержку, обновления, расширения или изменения Продукта.
                </p>
                <p>
                3.6. Правообладатель не предоставляет никаких гарантий в отношении программного обеспечения и оборудования других производителей, которое может поставляться Конечному пользователю вместе с Продуктом или в составе Продукта, либо с которым поставляется Продукт.
                </p>
            </div>
            <h2>4. ОТВЕТСТВЕННОСТЬ</h2>
            <div class="row">
                <p>
                4.1. Конечный пользователь несет ответственность по претензиям, связанным с использованием Конечным пользователем Продукта, а также результатов такого использования, предъявленным к нему третьими лицами.
                </p>
                <p>
                4.2. Конечный пользователь обязуется компенсировать Правообладателю любые расходы, включая судебные издержки, вознаграждение адвокатам, а также осуществлять защиту Правообладателя от любых претензий, споров, судебных разбирательств, потерь, убытков, расходов, затрат, любой иной ответственности, возникающих в результате неправомерного, незаконного использования Продукта (в том числе любой имеющей отношение к Конечному пользователю стороной, равно как и лицами, уполномоченными по поручению Конечного пользователя действовать явным образом в нарушение условий настоящего Соглашения и действующего законодательства).
                </p>
                <p>
                4.3. Правообладатель будет защищать Конечного пользователя в отношении претензии и/или иска, предъявленных Конечному Пользователю третьей стороной относительно нарушения авторских, патентных и иных прав на интеллектуальную собственность, связанного с Продуктом, за исключением случаев, когда претензия и/или иск основаны на произведенной Конечным пользователем комбинации Продукта с другим программным обеспечением или модификации Продукта. В случае возникновения претензии и/или иска Конечный пользователь обязуется незамедлительно проинформировать Правообладателя и предоставить всю необходимую информацию, касающуюся спора.
                </p>
                <p>
                4.4. Нарушение Конечным пользователем исключительного права Правообладателя на Продукт и/или Документацию, включая, в том числе, но не ограничиваясь, в отношении какой-либо из их частей или компонентов, влечет немедленное прекращение права использования Продукта, предоставленного Конечному пользователю.
                </p>
                <p>
                4.5. Правообладатель не несет ответственности и не возмещает прямые или косвенные убытки, включая упущенную выгоду, потерю конфиденциальной информации Конечного пользователя, вызванные нарушениями и/или ошибками при эксплуатации Продукта, возникшие в результате неправомерных действий персонала Конечного пользователя, либо третьих лиц, а также неполадок технических средств и электрооборудования Конечного пользователя.
                </p>
            </div>
            <h2>5. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h2>
            <div class="row">
                <p>
                5.1. Право на использование Продукта действительно только в том случае, если Продукт является подлинным. Приобретенное на законных основаниях право использования Продукта сопровождается присвоением уникального идентификационного номера с указанием данных Конечного пользователя, указанными им при приобретении права использования Продукта. Конечный пользователь несет полную ответственность за достоверность данных, переданных Правообладателю. Конечный пользователь обязуется сообщать Правообладателю об обнаруженных им несоответствиях предоставленных данных, изменении своих реквизитов.
                </p>
                <p>
                5.2. Настоящее Соглашение действует с момента, когда Конечный пользователь правомерно начал осуществлять установку Продукта или удаленный доступ к Продукту или его фактическое использование.
                </p>
                <p>
                5.3. Настоящее Соглашение определяет условия, порядок, ограничения и иные правила использования Продукта, за исключением использования Продукта для целей тестирования. Предоставление права использования Продукта для проверки функциональности Продукта (тестирования) осуществляется на основании отдельного соглашения, заключаемого Конечным пользователем с Правообладателем.
                </p>
                <p>
                5.4. Правообладатель оставляет за собой право на внесение изменений в настоящее Соглашение в одностороннем порядке. Актуальная действующая редакция документа размещается на официальном сайте Правообладателя: <a href="/{{page.origin | downcase}}/eula">https://www.3a-systems.ru/{{page.origin | downcase}}/eula</a>, в соответствии с которой Конечный пользователь обязан использовать Продукт.
                </p>
                <p>
                5.5. Все споры и разногласия сторон настоящего Соглашения подлежат урегулированию путем переговоров, претензионный порядок обязателен, а при недостижении согласия – в Арбитражном суде г. Москвы в соответствии с действующим законодательством Российской Федерации.
                </p>
                <p>
                5.6. Без ущерба для каких-либо своих прав Правообладатель имеет право в одностороннем порядке прекратить действие настоящего Соглашения при несоблюдении Конечным пользователем его условий и ограничений. Денежные средства, уплаченные Конечным пользователем за использование Продукта возврату не подлежат, а в случае неполной оплаты вознаграждения за предоставление прав использования Продукта – Правообладатель вправе требовать его взыскания в качестве упущенной выгоды в судебном порядке.
                </p>
                <p>
                    5.7. Если Конечному пользователю стала известна какая-либо информация, указывающая на нарушение авторских прав Правообладателя (неправомерная перепродажа Продукта, ссылки на пиратские сайты), Правообладатель рекомендует сообщать указанную информацию Правообладателю по адресу: <a href="mailto:info@3a-systems.ru?cc=support@3a-systems.ru&subject=eula_violation">info@3a-systems.ru</a>.
                </p>
                <p>
                5.8. За дополнительной информацией по возникающим вопросам в отношении настоящего Соглашения, разъяснениями по использованию Продукта Конечный пользователь может обратиться к Правообладателю по адресу: <a href="mailto:info@3a-systems.ru?cc=sales@3a-systems.ru&subject=eula_query">info@3a-systems.ru</a>.
                </p>
            </div>
        </div>
    </div>
</section>
