{% capture og_url %}{{ site.url }}{{ page.url | remove: "index.html" | remove: ".html" }}{% endcapture %}
{% capture og_image %}{%- if page.imageurl -%}{{ site.url }}/assets/img/{{page.imageurl}}{% else %}https://avatars.githubusercontent.com/u/175615630?s=200&v=4{%- endif -%}{% endcapture %}
{% capture page_title %} {%- if page.title -%} {{ page.title | smartify }} · {{ site.title | smartify }}{%- else -%}{{ site.title | smartify }} · {{ site.description | smartify }}{%- endif -%}{% endcapture %}
{% capture page_description %}{{ page.description | default: site.description | smartify }}{% endcapture %}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>{{page_title}}</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" />
<!-- Bootstrap Icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"  media="print" onload="this.media='all'" />

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<!-- Core theme CSS (includes Bootstrap)-->
<link href="/assets/css/styles.css" rel="stylesheet" />

<meta name="description" content="{{ page_description }}">
<meta name="keywords" content="{{ page.keywords | default: site.keywords }}">
<meta name="author" content="{{ site.authors }}">

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page_title }}" />
<meta property="og:description" content="{{ page_description }}" />
<meta property="og:url" content="{{ og_url }}" />
<meta property="og:site_name" content="{{site.site_name}}" />
<meta property="og:image" content="{{ og_image }}" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ og_url }}">
<meta property="twitter:title" content="{{ page_title }}">
<meta property="twitter:description" content="{{ page_description }}">
<meta property="twitter:image" content="{{ og_image }}" />