<section class="page-section" id="product">
    <div class="container px-4 px-lg-5 py-5">
        <div class="row justify-content-center">
            <div class="col">
                <h1>{{page.title}}</h1>                
                <hr class="divider" />
            </div>
        </div>
        <div class="row">
            {% for feature in page.product.features %}   
                <p>{{ feature }}</p>
            {% endfor %}   
        </div>
        {% assign postCounter = 0 %}
        {% for post in site.posts %}   
            {% if post.tags contains page.product.name %}
                {% assign postCounter = postCounter | plus:1 %}
            {% endif %}
        {% endfor %}    
        <div class="row">
            <p>
                <a class="icon-link" href="{{page.product.documentation_link}}">
                    Документация
                </a>
            </p>
        </div>
        {% if postCounter != 0 %}
        <div class="row articles pt-2">
            <h2>Статьи по теме</h2>
            <ul>
                {% for post in site.posts %}   
                    {% if post.tags contains page.product.name %}
                        <li>
                            <a href="{{post.url}}">{{post.title}}</a>
                        </li>
                    {% endif %}
                {% endfor %}    
            </ul>
        </div>
        {% endif %}
        
        <div class="row contributors pt-2">
            <h2>Участники</h2>
            <a href="https://github.com/3A-Systems/{{page.product.reponame}}/graphs/contributors">
                <img src="https://contributors-img.web.app/image?repo=3A-Systems/{{page.product.reponame}}" />
            </a>
        </div>
        <div class="row pt-3">
            <p>
                <a class="icon-link" href="https://github.com/3A-Systems/{{page.product.reponame}}">
                    На страницу сообщества
                </a>
            </p>
        </div>
    </div>
    
</section>
