---
layout: blog
title: 'Новости и статьи'
description: 'Новости компании и статьи по Access и Identity Management, конфигурация OpenAM, OpenDJ, OpenIG, OpenIDM'
---

<p><a class="icon-link" href="{{ '/feed.xml' | relative_url }}"><i class="bi-rss px-1"></i>Подписаться через RSS</a></p>

{% include blog-filter.html %}

<div id="blog-posts">

{% for post in paginator.posts %}
{% include post-card.html post=post %}
{% endfor %}

<nav class="paginator">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="page-item">
        <a href="{{ paginator.previous_page_path }}" class="page-link">Назад</a>
      </li>
    {% else %} 
      <li class="page-item disabled">
        <a class="page-link">Назад</a>
      </li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% assign itemClass = "" %}
      {% if paginator.page == page %} 
        {% assign itemClass = "active" %}
      {% endif %}
      {% if page == 1 %}
        <li class="page-item {{itemClass}}"><a class="page-link" href="/blog/">{{page}}</a></li>        
      {% else %}
        <li class="page-item {{itemClass}}" ><a class="page-link" href="/blog/page{{page}}/">{{page}}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li class="page-item">
        <a href="{{ paginator.next_page_path }}" class="page-link">Далее</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link">Далее</a>
      </li>
    {% endif %}    
  </ul>
</nav>

</div>

<script src="{{ '/assets/js/blog-search.js' | relative_url }}" defer></script>
