.slick-prev:before, .slick-next:before
{
    color: $primary;
}
#partners {
    &.page-section {
        padding: 0;
    }
    .slider {
        a {
            display: inline-block;
        }
        img {
            max-width: 100%;
            max-height: 112px;

            &.autoassiatance {
                height: 112px;
            }
            &.avilon {
                background-color: #221e1f;
                padding: 4px;
            }
            &.croc {
                margin-top: -40px;
            }
            &.mts {
                height: 90px;
            }
        }
    }
}

.slick-initialized .slick-slide {
    padding: 2rem;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}