$slider-height: 55px;
$width: $slider-height * 2 + 40px;
$container-margin: -2rem;

.slick-prev:before, .slick-next:before
{
    color: $primary;
}
#partners {
    margin-top: $container-margin;
    margin-bottom: $container-margin;
    
    &.page-section {
        padding: 0;
    }
    .slider-container {
        height: $slider-height;
        width: $slider-height * 3;
        filter: grayscale(1);
    }
    .slider {
        a {
            display: inline-block;
        }
        img {
            max-width: 100%;
            max-height: $slider-height - 8px;

            &.autoassiatance {
                height: $slider-height - 8px;;
            }
            &.avilon {
                background-color: #221e1f;
                padding: 4px;
            }
            &.croc {
                margin-top: -14px;
            }
            &.mts {
                height: $slider-height - 30px;
            }
        }
    }
}

.slick-initialized .slick-slide {
    padding: 0rem 2rem;
    height: $slider-height;
    display: flex;
    align-items: center;
    justify-content: center;
}