section#experience {
    table .logo {
        text-align: center;
    }
    img.company-logo {
        height: 40px;
        max-width: 10rem;  
        &.avilon {
            background-color: #221e1f;
            padding: 4px;
        }
    }
    
}
