section#products-brief {
    .card-header {
        a {
            text-decoration: none;            
            color: $primary;
        }
        color: $primary;        
    }
}

section.page-section {
    h1 {
        color: $primary;
        font-size: 2rem;
    }
    h2 {
        color: $primary;        
    }
}

section#product {
    img.logo {
        max-height: 90px;
        max-width: 100%;
        margin-bottom: 1rem;        
    }
}