section#products-brief {
    .card-header {
        a {
            text-decoration: none;            
            color: $primary;
        }
        color: $primary;        
    }
}

section.page-section {
    h1 {
        color: $primary;
        font-size: 1.8rem;
    }
    h2 {
        color: $primary;  
        font-size: 1.5rem;      
    }
    h3 {
        color: $primary;  
        font-size: 1.3rem;      
    }
    h4 {
        color: $primary;  
        font-size: 1.2rem;      
    }
}

section#product {
    img.logo {
        max-height: 90px;
        max-width: 100%;
        margin-bottom: 1rem;        
    }
}